name: Test and Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4.1.0
        with:
          run_install: false

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Lint
        run: pnpm biome check

      - name: Spell check
        uses: streetsidesoftware/cspell-action@main
        with:
          files: "**/*.{md,ts}"

      - name: Build
        run: pnpm build

      - name: Test (with coverage)
        run: pnpm test:coverage

      - name: Test (with report)
        run: pnpm test:report

      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
