name: Test and Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  install:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 21.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2.4.0
        with:
          run_install: false

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Spell check
        uses: streetsidesoftware/cspell-action@main
        with:
          files: '**/*.{md,ts}'

      - name: Build
        run: pnpm build

      - name: Test
        if: startsWith(matrix.node-version , '21')
        run: pnpm test:ci

      - name: Test (with coverage)
        if: startsWith(matrix.node-version, '20')
        run: pnpm test:ci:coverage
